*{ 
    margin: 0;
    font-family: 'Poppins';
}

body{
    background-color: #f07676;
    background-image: linear-gradient(62deg, #f07676 0%, #00e3ff 100%);   
}

table{
    margin-left: auto;
    margin-right: auto;
}

th{
    max-width: 500px;
}

.imagess{
width: 40%;
}

#title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#desc {
    text-align: center;
}

/* Main Paragraph Styling */
.main {
    text-align: center; /* Center the content inside the div */
}

/* Main Styling for Centering */
.main {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center elements vertically */
    align-items: center; /* Center elements horizontally */
    height: 80vh; /* Make the div take up the full height of the viewport */
}

/* Main Paragraph Styling */
.main p {
    padding: 10px 20px; /* Adjust padding for spacing between text and border */
    margin: 10px 0; /* Adjust margin to space out paragraphs */
    border: 2px solid #000;
    border-radius: 15px; /* Optional: Adjust the border-radius to your liking */
    width: 500px; /* Ensure the border fits closely around the text */
    font-weight: 500;

    text-decoration: none;
    background-color: rgb(255, 255, 255); 
    color: black; 
    border-color:rgb(0, 0, 0) ;
}

.main p:hover{
    background-color:rgb(253, 253, 247) ;
    border-color: rgb(255, 17, 17);
}

.main a{
    text-decoration: none;
}

/* mobile view */
@media (max-width: 768px) {
    table{
        margin-top: 10px;
    }
    .imagess{
        width: 60%;
    }
    #poli{
        width: 65%;
    }
    #title{
        font-size: 32px;
    }
    #desc{
        font-size: 15px;
    }
    .main{
        height: 75vh;
    }
    .main p{
        font-size: 15px;
        width: 300px;
    }
    }